body {
    background-image: url("cubeworld.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.opening {
    height: 50%;
    width: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    overflow: hidden;
    background-image: url('opening.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 40% 40%;
    background-position: center;
    opacity: 0.95;
    animation-name: open;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.95;
    }
}

.word {
    top: 40%;
    left: 20%;
    position: relative;
    color: white;
    text-align: center;
    width: 60%;
    height: 20%;
    font-size: 36px;
}

.logo {
    position: fixed;
    bottom: 0px;
    right: 0px;
}